@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background-image: url("/background.png");
  background-repeat: round;
  overflow: hidden;
  cursor: url("/cursor/nso_cursor.cur"), auto;
}

::-webkit-scrollbar {
  width: 1.25rem;
}

::-webkit-scrollbar-track {
  background: rgb(226, 232, 240);
}

::-webkit-scrollbar-thumb {
  background: rgb(240, 171, 252);
}

@font-face {
  font-family: "Visitor";
  src: url("../public/fonts/visitor/visitor1.ttf"); /* IE9 Compat Modes */
  src: url("../public/fonts/visitor/VisitorTT1BRK.eot")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../public/fonts/visitor/VisitorTT1BRK.woff")
      format("woff"),
    /* Modern Browsers */ url("../public/fonts/visitor/visitor1.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("../public/fonts/visitor/VisitorTT1BRK.svg")
      format("svg"); /* Legacy iOS */
}

@font-face {
  font-family: "VT323";
  src: url("../public/fonts/VT323.ttf"); /* IE9 Compat Modes */
  src: /* Modern Browsers */ url("../public/fonts/VT323.ttf") format("truetype");
}
