@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background-image: url("/background.png");
  background-repeat: round;
  overflow: hidden;
}

@font-face {
  font-family: "Visitor";
  src: url("../public/fonts/visitor/visitor1.ttf"); /* IE9 Compat Modes */
  src: url("../public/fonts/visitor/VisitorTT1BRK.eot")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../public/fonts/visitor/VisitorTT1BRK.woff")
      format("woff"),
    /* Modern Browsers */ url("../public/fonts/visitor/visitor1.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("../public/fonts/visitor/VisitorTT1BRK.svg")
      format("svg"); /* Legacy iOS */
}
